#include <dt-bindings/zmk/matrix_transform.h>
#include "fish-layouts.dtsi"
#include "split_input.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&physical_layout0 {
    kscan = <&mock_kscan>;
    transform = <&default_transform>;
};

&tb_listener {
    status = "okay";
};
