# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FISH_LEFT
# 通常運用: 左がcentral
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_FISH_LEFT || SHIELD_FISH_RIGHT || SHIELD_FISH_LEFT_DONGLE || SHIELD_FISH_RIGHT_DONGLE

config ZMK_SPLIT
    default y

config ZMK_KEYBOARD_NAME
    default "FISH"

endif

if SHIELD_FISH_DONGLE

config ZMK_KEYBOARD_NAME
    default "FISH"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# 左右だけなので 2
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 3

# 2 peripherals + ホスト接続用
config BT_MAX_CONN
    default 8

config BT_MAX_PAIRED
    default 8

endif
